<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Projects Template</title>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22447949-8', 'no-ip.org');
  ga('send', 'pageview');

</script>

</head>
<body>

<map name="topButtoms">
  <area shape="rect" href="http://www.cib.csic.es/es/grupo.php?idgrupo=44" coords="198,97,475,112" />
  <area shape="rect" href="http://www.cib.csic.es/es/departamento.php?iddepartamento=10" coords="212,57,463,86" />
</map>

<map name="leftButtoms">
  <area shape="rect" href="inverse.cgi" coords="37,179,134,191" />
  <area shape="rect" href="pathways.cgi" coords="37,164,103,176" />
  <area shape="rect" href="homology.cgi" coords="37,150,106,162" />
  <area shape="rect" href="microarray.cgi" coords="37,135,168,147" />
  <area shape="rect" href="contact.cgi" coords="23,214,190,233" />
  <area shape="rect" href="dictionary.cgi" coords="37,122,111,134" />
  <area shape="rect" href="programs.cgi" coords="22,94,189,113" />
  <area shape="rect" href="tutorial.cgi" coords="22,68,189,87" />
  <area shape="rect" href="index.cgi" coords="22,43,189,62" />
</map>

<table style="text-align: left; width: 1024px; height: 739px;" border="0" cellpadding="0" cellspacing="0" align="center">
  <tbody>
    <tr>
      <td colspan="2" rowspan="1" style="text-align: left; vertical-align: bottom; width: 563px; height: 87px;">
      <table style="text-align: left; width: 700px; height: 67px;" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td style="width: 1024px; text-align: left; vertical-align: bottom; height: 151px;">
		<img style="width: 1024px; height: 151px;" usemap="#topButtoms" alt="" src="https://lh3.googleusercontent.com/-TwxPDvYCCK4/UNt9b2142sI/AAAAAAAAAEs/RrZ9HL0xSWE/s1024/top.png" border="0">
	    </td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr>

      <td style="vertical-align: top; width: 185px; height: 585px;">
	<img style="width: 195px; height: 585px;" usemap="#leftButtoms" alt="" src="https://lh3.googleusercontent.com/-jOd7_2AqH40/UxUQdJRRrqI/AAAAAAAAAiI/VtPYbD-i4oY/w195-h585-no/left.png" border="0">
      </td>


      <td style="width: 1024px; text-align: justify; vertical-align: top; height: 609px;">
      <table style="text-align: left; width: 829px; height: 609px;" border="0" cellpadding="2" cellspacing="15">
        <tbody>
        
          <tr>
            <td style="text-align: justify; vertical-align: top;">

