<html>
<head>
</head>
<body>
<img src="left.png">



<map name="leftButtoms">
  <area shape="rect" href="inverse.cgi" coords="37,179,134,191" />
  <area shape="rect" href="pathways.cgi" coords="37,164,103,176" />
  <area shape="rect" href="homology.cgi" coords="37,150,106,162" />
  <area shape="rect" href="microarray.cgi" coords="37,135,168,147" />
  <area shape="rect" href="contact.cgi" coords="23,214,190,233" />
  <area shape="rect" href="dictionary.cgi" coords="37,122,111,134" />
  <area shape="rect" href="programs.cgi" coords="22,94,189,113" />
  <area shape="rect" href="tutorial.cgi" coords="22,68,189,87" />
  <area shape="rect" href="index.cgi" coords="22,43,189,62" />
</map></body>
</html>
